*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs 
*.zip filter=lfs diff=lfs merge=lfs -text
/dados-eleitorais-candidatos-e-eleitores-2024.git/HEAD filter=lfs diff=lfs merge=lfs -text
/dados-eleitorais-candidatos-e-eleitores-2024.git/config filter=lfs diff=lfs merge=lfs -text
/dados-eleitorais-candidatos-e-eleitores-2024.git/description filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
/dados-eleitorais-candidatos-e-eleitores-2024.git/info/exclude filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
